<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<script type="text/javascript" th:src="@{/js/actions.js}"></script>
	<div class="navbar">
		<ul class="navbar-links">
			<li><a th:href="@{/home}">Home</a></li>
			<li><a th:href="@{/experiment}">Experiments</a></li>
			<li><a th:href="@{/equipment}">Inventory</a></li>
			<li><a th:href="@{/task}">Tasks</a></li>
			<li><a onclick="setTheme('Dark')"><i class="fa-solid fa-moon"></i></a></li>
			<li><a onclick="setTheme('Light')"><i class="fa-solid fa-sun"></i></a></li>
		</ul>
	</div>
	<div class="home-container">
		<h1>Welcome!</h1>
		<h3>Safety Precautions</h3>
		<ul class="safety-list">
			<li>No eating, drinking, or smoking in the lab.</li>
			<li>Clean up the place before dismissal time.</li>
			<li>Treat every chemical as if it is hazardous.</li>
			<li>Use and demonstrate the students the beaking method before each lab session. (See the video below for reference)</li>
			<li>In case of a code red scenario, evacuate the entire lab and call the authorities.</li>
		</ul>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dFdZxAQEx3Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

</body>
</html>